body {
  padding-top: 50px;
  background-image: url("/Assets/Images/006-subtle-light-patterns.jpg");
}

.center {
  padding: 40px 15px;
  text-align: center;
}

.cream {
	background: #FAF0E6;
}

.wheat {
	background: #F5F5DC;
}

.peach {
	background: #FFDAB9;
}

.lavendar {
	background: #FFF0F5;
}

.mintRose {
	background: #FFE4E1;
}

.hide {
	display: none;
}

.center-clean {
	text-align: center;
}

/********* Bootstrap.css Edits ***********/

.carousel-indicators {
	z-index: 1;
}

.navbar, .navbar-default, .navbar-fixed-top { border-radius: 0px !important;  }

.navbar-default {
 background-color: rgb(195, 88, 23) !important;
  border-color: transparent;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
    color: #fff;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #1780C2;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  /*background-color: #FD7386;*/
  background-color: #1780C2;
}